.input-group {
  margin-bottom: 1.5rem;
}

.input__label {
  display: block;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  margin-bottom: 0.5rem;
}

.input__field {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  outline: none;
}